@for $i from 0 through 100 {
  $marginTop: 1px * $i;
  .m-top-#{$i} {
    margin-top: $marginTop;
  }
}

.setting-box {
  display:flex;
  justify-content: center;
}

.setting-button {
  margin: 0 15px 0 15px;
  background-color: white;
  border: 0;
  outline: 0;

  &:active {
    background-color: #BBBBBB;
  }
}

.setting-text {
  font-family: MalgunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.5px;
  text-align: center;
  color: #333333;
}