$sides: ('top', 'right', 'bottom', 'left');

@each $side in $sides {
  @for $size from 0 through 100 {
    $result: 1px * $size;
    .m-#{$side}-#{$size} {
      margin-#{$side}: $result;
    }
  }
}

.setting-box {
  display: flex;
  justify-content: center;
}

.setting-button {
  background-color: white;
  border: 0;
  outline: 0;
}

.setting-img {
  transition: filter 0.3s;
  &:active {
    filter: brightness(50%);
  }
}

.setting-text {
  font-family: MalgunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.5px;
  text-align: center;
  color: #333333;
}


/* ------------------------------------- */
.slider {
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #04AA6D;
  cursor: pointer;
}