@for $size from 0 through 100 {
  $marginTop: 1px * $size;
  .m-top-#{$size} {
    margin-top: $marginTop;
  }
}

.setting-box {
  display:flex;
  justify-content: center;
}

.setting-button {
  margin: 0 15px 0 15px;
  background-color: white;
  border: 0;
  outline: 0;
}

.setting-img {
  &:active {
    filter:brightness(50%);
  }
}

.setting-text {
  font-family: MalgunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.5px;
  text-align: center;
  color: #333333;
}