.noDrag {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.keypadArea {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  //padding: 15px 30px;
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
}

.container {
  width: 90vw;
  margin: 50px auto;
  border-radius: 10px;
}

.row a {
  -webkit-user-drag: none;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 47px;
  text-align: center;
  width: 20vw;
  height: 12vw;
  line-height: 12vw;
  margin: 2%;
  font-size: 6vw;
  text-decoration: none;
  color: inherit;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;

  &:active, &:hover {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    filter: brightness(50%);
  }
}

.key-c a {
  width: 35vw;
  vertical-align: middle;
}

.key-text {
  margin-left: 15%;
  font-width: 400;
  font-size: 4vw;
}

.callIcon {
  background-image: url('../icons/call.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
  display: inline-table;
}

.row .remove {
  color: #0e0b0b;
  //width: 20vw;
  //margin: 6%;
  border: none;
  border-radius: inherit;

  &:active, &:hover {
    box-shadow: none;
  }
}

.row .empty {
  color: white;
  cursor: auto;
  border: none;

  &:active, &:hover {
    box-shadow: none;
  }
}

$buttonStates: ('on', 'off');
@mixin makeButton() {
  @each $state in $buttonStates {
    .row .call-#{$state} {
      border: 0px;
      color: white;
      @if $state == 'on' {
        background-color: green;
      } @else if $state =='off' {
        background-color: red;
      } @else {
        background-color: white;
      }
    }
  }
}

@mixin makeRotate() {
  @for $num from 0 through 360 {
    .rotate-#{$num} {
      transform: rotate(#{$num}deg);
    }
  }
}

$textStates: ('name', 'info');
@mixin makeText {
  @each $state in $textStates {
    .text-#{$state} {
      font-family: MalgunGothic;
      font-stretch: normal;
      font-style: normal;
      @if $state=='name' {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
      } @else if $state=='info' {
        font-size: 13px;
        font-weight: normal;
        color: #666666;
      }
    }
  }
}

@include makeButton
@include makeRotate
@include makeText